.@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {
width: 960px;
} 
h1{
 color:#00C1D4 ;
 font-family:Paytone One;
 font-size: 50px;
 margin: 20px;
 text-align: center;
 text-transform: uppercase;
 padding: 20px;
 font-weight: bold;
 margin-left: 200px;
 width: 100%;


}
/* .firstsection{


} */
.loss-p{
 font-size: 20px;
  font-family: 'Caveat', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Patrick Hand', cursive;
  line-height: 20px;

 text-indent: 20px;
  color: #787A91;
  
  line-height: 1.5;
text-indent: 20px;
  height: 500px;
  width: 500px;
  overflow: auto;
    
     border: bisque;
       border-color: azure; 
       border-style: inset;
       border-radius: 30px;
       margin-left: 80px;
       padding-left: 60px;
       margin-top: 60px;
       padding: 10px; 
}
.imgsection1{
 display: grid;
grid-template-rows: auto auto;
gap:  30px;
position: relative;
bottom: 530px;
left: 900px;
width: 100%;
/* position: relative; */

}

.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 80%;
 height: auto;
 border-radius: 40px;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: white;
 overflow: hidden;
 width: 80%;
 height: 0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 font-family: 'Indie Flower', cursive;

 white-space: nowrap; 
 color: #00C1D4;
 font-size: 50px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

   .section3{
 position: relative;
 bottom: 1050px;
 left: 900px;
}
h2{
 font-family: 'Caveat', cursive;
 font-family: 'Indie Flower', cursive;
 font-family: 'Patrick Hand', cursive;
 font-size: 30px;
 margin: 20px;
 padding: 10px;
 color: #787A91;

 text-transform: capitalize;

 }
 #planButton{

     min-width: 300px;
     min-height: 60px;
     font-family: 'Nunito', sans-serif;
     font-size: 22px;
     text-transform: uppercase;
     letter-spacing: 1.3px;
     font-weight: 700;
     color: #313133;
     background: #4FD1C5;
   background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
     border: none;
     border-radius: 1000px;
     box-shadow: 12px 12px 24px rgba(79,209,197,.64);
     transition: all 0.3s ease-in-out 0s;
     cursor: pointer;
     outline: none;
     position: relative;
     padding: 10px;
  left: 0%;
     }
   
   button::before {
   content: '';
     border-radius: 1000px;
     min-width: calc(300px + 12px);
     min-height: calc(60px + 12px);
     border: 6px solid #00FFCB;
     box-shadow: 0 0 60px rgba(0,255,203,.64);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     opacity: 0;
     transition: all .3s ease-in-out 0s;
   }
   
   #planButton:hover, .button:focus {
     color: #313133;
     transform: translateY(-6px);
   }
   
   button:hover::before, button:focus::before {
     opacity: 1;
   }
   
   button::after {
     content: '';
     width: 30px; height: 30px;
     border-radius: 100%;
     border: 6px solid #00FFCB;
     position: absolute;
     z-index: -1;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: ring 1.5s infinite;
   }
   
   button:hover::after, button:focus::after {
     animation: none;
     display: none;
   }
   
   @keyframes ring {
     0% {
       width: 30px;
       height: 30px;
       opacity: 1;
     }
     100% {
       width: 300px;
       height: 300px;
       opacity: 0;
     }
   }
 #planImg{
width: 600px;
height: 700px;
position: relative;
right:  120px; 
top: 40px; }

/* a{
position: relative;
bottom: 1100px;
 left :50px;
} */

.back{

 min-width: 300px;
 min-height: 60px;
 font-family: 'Nunito', sans-serif;
 font-size: 22px;
 text-transform: uppercase;
 letter-spacing: 1.3px;
 font-weight: 700;
 color: #313133;
 background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
 border: none;
 border-radius: 1000px;
 box-shadow: 12px 12px 24px rgba(79,209,197,.64);
 transition: all 0.3s ease-in-out 0s;
 cursor: pointer;
 outline: none;
 position: sticky;

 padding: 10px;
 }


.back:hover, .button:focus {
 color: #313133;
 transform: translateY(-6px);
}

.imgsection2{
 display: grid;
 grid-template-rows: auto auto;
 gap:  40px;
 position: relative;
 bottom: 290px;
 left: 150px;
 width: 100%;
}
.icon1{
   position: absolute;
   left:  300px;
   bottom:590px;
 display: inline;
 width: 100px;
}

.icon1{
 -webkit-animation: mover 2s infinite  alternate;
 animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
 0% { transform: translateY(0); }
 100% { transform: translateY(-20px); }
}
@keyframes mover {
 0% { transform: translateY(0); }
 100% { transform: translateY(-20px); }
}
.icon2{
 position: absolute;
 left:  1000px;
 bottom:590px;
display: inline;
width: 100px;
}

.icon2{
-webkit-animation: mover 2s infinite  alternate;
animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-20px); }
}
@keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-20px); }
}

#userInfo {
 font-family: Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

#userInfo td, #customers th {
 border: 5px groove #ddd;
 padding: 8px;
}

#userInfo tr:nth-child(even){background-color: #f2f2f2;}

#userInfo tr:hover {background-color: #ddd;}

#userInfo th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 font-family: 'Caveat', cursive;
 font-family: 'Indie Flower', cursive;
 font-family: 'Patrick Hand', cursive;
 font-size: 25px;
 background-color: #4FD1C5;
 color: #313133;
}
.userInfo{
 width: 700px;
 margin: 20px;
 border-radius: 30px;
 margin-left: 80px;
 padding-left: 60px;
 margin-top: 60px;
 padding: 10px; 
}
a:link, a:visited {
 background-color: #4FD1C5;
 color: #313133;
 padding: 14px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-family: 'Caveat', cursive;
 font-family: 'Indie Flower', cursive;
 font-family: 'Patrick Hand', cursive;
}

a:hover, a:active {
 background-color: #f2f2f2;}