@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body{
    height: 100%;
    width:100%;


}
   .video-container {
     width:100%;
     height:100%;
     position:absolute;
     top:0;
     left:0;
     }
      
  #video-bg{
    width:100%;
    opacity: .5;
  }
  h1{
    color:#058096 ;
    font-family:Paytone One;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 20px;

  

  }
  h2{
    color:#172a2e ;
    font-family:Paytone One;
    font-size: 60px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 30px;
  margin-top: 150px;
position: absolute;
  }
  .loss-p{
    font-size: 20px;
     font-family: 'Caveat', cursive;
     font-family: 'Courgette', cursive;
     font-family: 'Indie Flower', cursive;
     font-family: 'Patrick Hand', cursive;
     line-height: 20px;
  
    text-indent: 20px;
     color: #787A91;
     margin-top: 60px;
     line-height: 1.5;
  text-indent: 20px;
     height: 500px;
     width: 500px;
     overflow: auto;
       padding: 10px; 
        border: bisque;
          border-color: azure; 
          border-style: inset;
          border-radius: 30px;
          margin-left: 80px;
          padding-left: 60px;
          position: relative;
          top: 850px;
  
  }
  .imgsection1{
    display: grid;
  grid-template-columns:25% 25%  ;
  gap:50px ;
  position: relative;
  top: 1100px;
margin-left: 40px;
  /* position: relative; */
  
  }
  .container {
    position: relative;
    width: 80%;
    border-radius: 40px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 40px;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 40px;
    ;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    font-family: 'Indie Flower', cursive;
  
    white-space: nowrap; 
    color: #00C1D4;
    font-size: 55px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #userInfo {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
   }
   
   #userInfo td, #customers th {
    border: 5px groove #ddd;
    padding: 8px;
   }
   
   #userInfo tr:nth-child(even){background-color: #f2f2f2;}
   
   #userInfo tr:hover {background-color: #ddd;}
   
   #userInfo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    background-color: #4FD1C5;
    color: #313133;
    border-radius: 50px;

   }
   .userInfo{
    width: 700px;
    margin: 20px;
    border-radius: 50px;
    margin-left: 80px;
    padding-left: 60px;
    margin-top: 60px;
    padding: 10px; 
    position: relative;
    left: 700px;
    bottom: 300px;
    background-image: url('../img/istockphoto-1244669138-612x612.jpg');
background-repeat: no-repeat;
background-size: contain;
   }

   .icon1{
    position: relative;
    left:  800px;
    bottom:300px;
    height: 450px;
  display: inline;
  opacity: .5;
  background-image: url('../img/istockphoto-1244669138-612x612.jpg');
}

.icon1{
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.section3{
    position: absolute;
    top:  1700px;
left: 900px;
}
#headerSection3{
    
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    margin-top: -110px;
    /* padding: 10px; */
    color: #787A91;
line-height: 40px;
    text-transform: capitalize;

}
#planButton{
    margin-bottom: 20px;
    margin-left: 40px;
}
#planImg{
    width: 600px;
height: 700px;
border-radius: 50px;
 position: relative;
left: 40px;
}