@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family:Paytone One;
  
 
}

header{
    display: grid;
    grid-template-columns: 400px auto;
    width: 1500px;
    margin-left: 60px;
    margin-bottom: 30px;
  
  
}


footer{
    width: 1600px;
   margin-left: 60px; 
    margin-bottom: 30px;
    /* background-image: url('../img/Home/bk2.jpg');
  background-repeat:repeat;
  background-size:cover; */
    
}

header section :nth-child(0){
    display: grid;
    grid-template-columns: auto auto;

}
main{
    width: 1500px;
    margin-left: 60px;
    margin-bottom: 30px;
}
header section :nth-child(0){
    display: grid;
    grid-template-columns: auto auto;

}
.sections{

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}
.sections1{

  display: grid;
  grid-template-columns: 650px 1fr;
  margin-top: 100px;
}

#subscribe{
    
   
}
#logo{
    width: 150px;
    height: 150px;
}
.slogin
{
    font-family:Paytone One;
    font-weight: 700;
    font-size: 100px;
    /* letter-spacing: -5px;
    line-height: 0.9;*/
    margin-left: 0px; 
    color: #00C1D4;

}
h1 span{
    color: white;
    text-shadow: -1px 0 #00C1D4, 0 1px #00C1D4, 1px 0 #00C1D4, 0 -1px #00C1D4;

}
 /* body {
    padding: 1em;
    font-family: Paytone One;
    background: #333;
  }  */

.shimmer {
    display: inline-block;
    color:white;
   margin-top: 30px;
    
    background: #acacac -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));
    
    background-position: -4rem top; /*50px*/
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-background-size: 4rem 100%; /*50px*/
    
  }
  
  @-webkit-keyframes shimmer {
      0% {
          background-position: -4rem top; /*50px*/
      }
  
      70% {
          background-position: 12.5rem top; /*200px*/
      }
  
      100% {
          background-position: 12.5rem top; /*200px*/
      }
  }


  /*button*/
  html, body {
    height: 100%;
  }
  
  /* .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;
  } */
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
 left: 0%;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  article{
    line-height: 1.5;
    font-family:Paytone One;
    font-weight: 100;
    font-size: 25px;
    /* letter-spacing: -5px;
    line-height: 0.9;*/
    
    color:#787A91;
  }

iframe{
    margin-left: 120px;
    margin-top: 80px;
    

}
#pvision{
 margin-right: 120px;

}

/* menu */
*{
  box-sizing: border-box;
}



  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
    li{
      
      margin: 0 40px 0 0;
      opacity: .4;
      transition: all 0.4s ease;
    }
      a:hover {
        opacity: .7;
        color:#00C1D4;
      }
      /* .active{
        opacity: 1;
        color:#00C1D4;
      } */
            
      a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        letter-spacing: .2em;
        font-size: 14px;}

        #headersec{
          display: grid;
          grid-template-columns: 600px 1fr;

        }
        #menue{
          margin-top: 80px;
        }
        #logo{
          width: 100px;
          height: 100px;
          margin-top: 10px;
          margin-right: 5px;
      }
        h6{
          font-family: "Times New Roman", Times, serif;
          font-weight: 300;
          font-size: 19px;
          line-height: 1.4em;
          color: #404040;
        }

        .fa {
          padding: 5px;
          font-size: 30px;
          width: 30px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
          border-radius: 50%;
        }
        
        .fa:hover {
            opacity: 0.7;
            color: #fff;
        }
        
        .fa-facebook {
          background: #3B5998;
          color: white;
        }
        
        .fa-twitter {
          background: #55ACEE;
          color: white;
        }
        
        .fa-google {
          background: #dd4b39;
          color: white;
        }
        
        .fa-linkedin {
          background: #007bb5;
          color: white;
        }
        
        .fa-youtube {
          background: #bb0000;
          color: white;
        }
        
        .fa-instagram {
          background: #125688;
          color: white;
        }
        #socialmedia{
          padding-left: 340px;
          margin-top:30px;

        }
        #alert{
          color: blue;
        }
        /* #subform{
          margin-left: 20px;
        } */

        .logoSection{
          display: grid;
            grid-template-columns: 110px 1fr;
            margin-top: 30px;
        }
        .logoSection h1{
          margin-left: 5px;
          margin-bottom: 5px;
        }
        #sdiv{
          margin-top: 90px;
        }
        
        
        

  
 


