body{
    width: 960px;
    height: 100%

}
h1{
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin: 20px;
    text-align: center;
    color: #00C1D4;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
}
h3{
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    color: #787A91;

    text-transform: capitalize;


}
.icon {
    width: 100px;
    height: 100px;
    position: absolute;
    /* bottom:  200px;
    right: 344px; */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    float: right ;
    top: 50px;
    right: 20px;
  }
  @keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:20px; top:0px;}
    50%  { left:20px; top:20px;}
    75%  {left:0px; top:20px;}
    100% { left:0px; top:0px;}
  }
  .imgone{
    position: absolute;
    right: 150px;
    top: 170px;
 }
 img{
    display: inline-block;
   width: 400px;
   height: 300px;
   border-radius: 20px;
   display: block;


}
.imgone:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #FDEFEF;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 20px;
  }
  .text {
    white-space: nowrap; 
    color: rgb(54, 51, 54);
    font-size: 30px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    margin: auto;
    font-weight: bold;
  }
  .imgtow:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .imgone{
    position: absolute;
    right: 150px;
    top: 170px;
 }
 .imgtow{
    position: absolute;
    right:  150px;
    top: 600px;
 }
 .pmain{
     font-size: 20px;
     font-family: 'Caveat', cursive;
     font-family: 'Courgette', cursive;
     font-family: 'Indie Flower', cursive;
     font-family: 'Patrick Hand', cursive;
     line-height: 28px;
     margin: 20px;
     padding: 10px;
     text-indent: 20px;
     box-sizing: 300px 700px;
 }
 ul{
    font-family: 'Caveat', cursive;
font-family: 'Courgette', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Patrick Hand', cursive;
margin: 10px;
text-transform: capitalize;
margin: 20px;
text-indent: 10px;

}

 li {
     line-height: 35px;
     list-style-type: lower-roman;
     color: rgb(65, 63, 64);
font-size: 20px;
margin-left: 20px;
 }
 a{
    text-decoration: none;
margin-left: 10px;

}
a :hover{
    cursor: pointer;

}
button{
    position: relative;
            left: 50px;}
            .think{
                position: relative;
                left:  500px;
                bottom:450px;
            }
            .think2{
    
                position: relative;
                left:  860px;
                bottom:80px;
            }
            .think{
                -webkit-animation: mover 2s infinite  alternate;
                animation: mover 2s infinite  alternate;
            }
            @-webkit-keyframes mover {
                0% { transform: translateY(0); }
                100% { transform: translateY(-20px); }
            }
            @keyframes mover {
                0% { transform: translateY(0); }
                100% { transform: translateY(-20px); }
            }
            
            .think2:hover {
                display: inline-block;
                margin: 0 0.9rem;
              
                animation: bounce; /* referring directly to the animation's @keyframe declaration */
                animation-duration: 3s; /* don't forget to set a duration! */
              }
             
              fieldset{
                padding: 20px;
           border-radius: 20px;
           margin: 20px;  
           border:outset;  }
            label{
                display: block;
                font-family: 'Caveat', cursive;
                font-family: 'Indie Flower', cursive;
                font-family: 'Patrick Hand', cursive;
                font-size: 25px;
                line-height: 59px;
           
            }
            legend{
              
               font-family: 'Indie Flower', cursive;
               font-size: 40px;
               color: #464141;
            }
            fieldset {
                position: relative;
                top: 30px;
                left: 10px;
                border:solid  ;
                
            }
            form{
                margin: 10px;
                padding: 10px;
                color: #3d3a3a;
            }
            input{
                width: 200px;
            }
            form p {
                font-size: 30px;
                color: rgb(27, 25, 27);
            }
            .pmain{
               line-height: 30px;
               text-indent: 20px;
            }
            h4{
              font-family: 'Caveat', cursive;
              font-family: 'Indie Flower', cursive;
              font-family: 'Patrick Hand', cursive;
              font-size: 25px;
              margin: 10px;
              padding: 10px;
              color: #64515f;
          
              text-transform: capitalize;
          
            }
            #vedio{
               display: grid;
               grid-template-columns: auto  auto auto;
               gap: 20px;
               margin-left: 100px;
               padding-top: 50px;
               padding-bottom: 50px;
            }
iframe{
    border-radius: 50px;

}
#Watch{
    position: relative;
    top:  70px;
    left: 150px;

    letter-spacing: 10px;
    font-weight: bolder;
}
.watch{
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} 
.water{
    position: absolute;
    left: 1050px;
bottom: -1500px;
-webkit-animation: mover 2s infinite  alternate;
animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-20px); }
}
@keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-20px); }
}

.water:hover {
display: inline-block;
margin: 0 0.9rem;

animation: bounce; /* referring directly to the animation's @keyframe declaration */
animation-duration: 3s; /* don't forget to set a duration! */
}
