@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body{
    font-family:Paytone One;
    color: #333;
   
  }
  
  header{
      display: grid;
      grid-template-columns: 500px auto;
      width: 1500px;
      margin-left: 60px;
      margin-bottom: 30px;
  }
  
  
  footer{
      width: 1500px;
      margin-left: 60px;
      margin-bottom: 30px;
  }
  .heroSection{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .defineSection{
    display: grid;
    grid-template-columns: 600px 1fr;

  }
  .userFormSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
       

  }
  #userform{
    
  }
  .imgForm{
      width: 300px;
      hight:300px;
  }
  .section{
      margin-top: 60px;
  }
.bmiClculatorImgswing{
    width:600px;
    hight:600px;
}
fieldset {
     background-color: #C1CFC0;
     width: fit-content;
     background-image: url('../img/Home/footerimg.png');
    background-repeat:repeat;
    background-size:cover;
 
  }
  legend {
    background-color: #082032;
    color: white;
 
    padding: 20px 20px;
  }
  
  input {
    margin: 5px;
  }
  h1 span{
    font-family:Paytone One;
    font-weight: 700;
    font-size: 100px;
    /* letter-spacing: -5px;
    line-height: 0.9;*/
    margin-left: 0px; 
    color: #00C1D4;

}
#middle{
    padding-top: 80px;
    padding-right: 40px;
}
#slide{
    padding-top: 100px;
}
.swing{
    padding-left: 100px;
    padding-top: 100px;
}
.formspan{
    padding-left: 22px;
}
.formspan1{
    padding-left:13px;
}
.styleBMIbtn{
   /* margin-left: 550px ;*/
    /* border-radius: 50%;
    padding: 20px 20px; 
    background-color:#00C1D4 ;
    color: white; */
    background-color: white;
}
h6{
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.4em;
    color: #404040;
  }
  .userProfile .resultSec{
      color: #141E61;
  }

  #formart{
    line-height: 1.5;
    font-family:Paytone One;
    font-weight: 100;
    font-size: 25px;
    /* letter-spacing: -5px;
    line-height: 0.9;*/
    
    color:#00C1D4;

  }
  
 