@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
    font-weight: 10px;
  
}

/************loader*****************/
.preload {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100vh;
   background: #77b3d4;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: opacity 10s ease;
   
      }
.heartBeat1,  .heartLine1 ,
.heartBeat2,  .heartLine2 ,
.heartBeat3, .heartLine3{
    height: 100px;
    position: absolute;
    right: 0%;
    z-index: -1;

}

.heartBeat1 , .heartLine1{
    top: 25%;
    transform: translate(100%, -25%);
    animation: heartBeats 3s ease  infinite ;
}

.heartBeat2, .heartLine2{
    top: 50%;
    transform: translate(100%, -50%);
    animation: heartBeats 3s ease  infinite 2s ;

}

.heartBeat3, .heartLine3{
    top: 75%;
    transform: translate(100%, -75%);
    animation: heartBeats 3s ease  infinite 1.5s ;

}

.appleHealthy{
    height: 180px;
    animation: appleHealthy 1s ease infinite alternate ;
}

.preload h3{
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: white;
    font-size: 30px;

}


@keyframes appleHealthy{
    form{

        transform: translateY(opx);
    }
    to{
        transform: translateY(50px);

    }
}


@keyframes heartBeats {
    form{
          right: 0%;
    }
    to{
          right: 130%;
    }
    
}

.preload-Finish {
    opacity: 0;
    pointer-events: none;
}
/* ****************Journey Page****************  */
.journeyPage {
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: auto auto auto;


}

.heroSection {
    /*width: 100%;*/
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1120px;
    align-items: center;
    justify-content: space-between;
    padding: 55px 55px;
    margin-left: 55px;
    margin-right: 20px;
}

.heroSection img {
    display:block;
    -moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #4ab1ca;
    width: 300px;
    height: 200px;
    border-radius: 30%;

}

.defineSection {
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1120px;
    align-items: center;
    justify-content: space-between;
    padding: 55px 55px;
    margin-left: 55px;
    margin-right: 20px;

}

.imgForm{
    display:block;
    -moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #4ab1ca;
    width: 300px;
    height: 200px;

}

.imgForm:hover{
 
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}

.userFormSection {
    display: grid;
    grid-template-columns: 450px 300px;
   /* height: 650px;
    /*max-width: 1120px;*/
    align-items: center;
    justify-content: space-between;
  /*  padding: 55px 55px;*/
    margin-left: 100px;
    margin-right: 100px;
}

.bmiClculatorImg{
    /*max-width: 1120px;*/
    align-items: center;
    justify-content: space-between;
   /* padding: 5px 5px; */
    margin-left: 10px;
    margin-right: 90px;
    width: 250px;
    border-radius: 30%;
   

}
/******** form style ********/
.form-style {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #4ab1ca;
}
.form-style li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;

}
.form-style input[type=text], 
.form-style input[type=number],
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style input[type=text]:focus, 
.form-style input[type=number]:focus,
.form-style select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}


.styleBMIbtn{
    /*			box-sizing: border-box;*/
                background: NONE;
                width: 150px;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 7px;
                padding: 10px 10px;
                color:white;
                text-transform: uppercase;
                font-weight: 90px;
                text-shadow: 0 1px 3px rgba(207, 155, 231, 0.41);
                box-shadow: 0 3px 0 0 #d5b1f7;
                border:3px solid transparent;
                animation: pulse 1s linear infinite alternate;
                text-align: center;
            }

.active, .styleBMIbtn:active{
			background-image: linear-gradient(rgba(180, 61, 61, 0.1) 13%, transparent 13%,transparent);
			box-shadow: 0 1px 0 0 #d689e9;
			color: rgba(0, 0, 0, 0.45);
			text-shadow: none;
    	    animation-play-state: paused;
            transform: translateY(10px);
		}

.styleBMIbtn {
    background-color:#00bff0;
    border-color: #00bff0;
}

.styleBMIbtn:focus,
.styleBMIbtn:hover{
			background-color:#9d22d646;
            animation-play-state: paused;
            
		}
	
.showResultSection {
    display: grid;
    grid-template-columns: 50% 50%;

    max-width: 1120px;
    align-items: center;
    justify-content: space-between;
    padding: 55px 55px;
    margin-left: 55px;
    margin-right: 20px;
    box-sizing: content-box;
    box-shadow:  slateblue 2px;
    
}


/*******************ball**********/
@keyframes slide {
    0% {
      left: 0;
      top: 0;
    }
    50% {
      left: 35%;
      top: 65%;
    }
    100% {
      left: 90%;
      top: 0;
    }
  }
  .stage {
    background: #eaeaed;
    border-radius: 6px;
   /* height: 150px;
    position: relative;
    min-width: 538px;*/
    height: 100%;
    width: 100%;
  }
  .stage:hover .ball {
    animation: slide 2s linear;
  }
  .ball {
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
  }


  /*******swing hero img *******/
  @keyframes swing
{
    15%
    {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30%
    {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    50%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    65%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    80%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
/********************HR *******************/
.appleHR {
	
	height:16px;
	border:none !important;
}

#hr2 { 
    text-align: center;
    margin-bottom: 10px;
}

#hrImg  {
    position: relative;
    top: -3px;
    background: transparent;
    padding:0 5px;
    width: 23px;
    height: 22px;
}